.recipeCard {
    height: 100%;
    width: 100%;
    transition: transform 0.25s;
    transform-style: preserve-3d;
    perspective: 500px;
    position: relative;
    z-index: 0;
  
    &.faceDown {
      transform: rotatey(180deg);
    }
  
    .front {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      background: white;
      backface-visibility: hidden;
      position: absolute;
    }
  
    .back {
        height: 100%;
        width: 100%;
        border-radius: 10px;
      transform: rotatey(180deg);
      background: white;
      backface-visibility: hidden;
      position: absolute;
    }
  }