.cards {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
    
   
   
    
  
    .card {
      height: 500px;
      width: 350px;
      
      border-radius: 10px;
      background-color: white;
      margin-bottom: 20px;
    }
  }