@import url('https://fonts.googleapis.com/css?family=Prompt');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Poppins');


.TeamCard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-family: "Prompt";
        font-size: 35px;
        margin: 0px;
    }

    h3 {
        font-family: "Prompt";
        color: white;
        font-size: 20px;
        margin: 0px;
    }

    h5 {
        font-family: "Poppins";
        font-size: 20px;
        margin: 0px;
    }

    h4 {
        font-family: "Audiowide";
        font-size: 30px;
        margin: 0px;
    }

    .logo {
        width: 350px;
    }





    .TeamCard__Header {
        width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

    }

    .TeamCard__Header_Icon {
        width: 50px;
    }

    .TeamCard__Car_Icon {
        width: 340px;
    }

    p {
        text-align: center;
    }

    .DriverList {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 320px;
    }

    .DriverPannel {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .DriverPannel__Icon {
        width: 145px;
    }

    .DriverPannel__Flag {

        height: 40px;

    }

    .DriverPannel__NumberFlag {
        width: 130px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .TeamCard_AccentDiv {
        width: 250px;
        height: 30px;
        background-color: aqua;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: "Poppins";
    }

    .TeamCard__Pos {
        width: 75px;
        height: 75px;
        border-radius: 40px;
        background-color: aqua;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

}